@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

.shown {
  font-weight: bold;
  cursor: pointer;
  border-bottom: solid $gray-dark 1px;
}

.not-shown {
  @extend .shown;
  color: transparent;
}
